<div class="footer">
  <div class="row">
    <div class="column medium-2">
      Shop
      <ul>
        <li>Gift cards</li>
        <li>Sitemap</li>
        <li>Etsy blog</li>
      </ul>
    </div>
    <div class="column medium-2">
      Sell
      <ul>
        <li>Start selling</li>
        <li>How to sell</li>
        <li>Business sellers</li>
        <li>Affiliates</li>
      </ul>
    </div>
    <div class="column medium-2">
      About
      <ul>
        <li>Policies</li>
        <li>Investors</li>
        <li>Careers</li>
        <li>Press</li>
        <li>Impact</li>
      </ul>
    </div>
    <div class="column medium-2">
      Help
      <ul>
        <li>Help Center</li>
        <li>Trust and safety</li>
        <li>Privacy settings</li>
      </ul>
    </div>
    <div class="column medium-2">
      Stay Connected
      <ul>
        <li>Twitter</li>
        <li>Instagram</li>
        <li>Pinterest</li>
      </ul>
    </div>
    <div class="column medium-2">
    <img src="https://placekitten.com/200/200" style="width: 130px;">
    </div>
  </div>

  <div class="copyright">
      <div class="row right-on-small">
      <div class="small-2">
        &copy; 2021 YoYo-Pens
      </div>
      </div>
  </div>
  
</div>
